
body {
  background-color: rgb(116, 155, 173);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(88, 114, 124);
  z-index: 2;
}

#snake-head {
  background-color: rgb(73, 118, 148);
}

.apple {
  background-color: red;
  z-index: 1;
}